<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Jobify</title>
    <link href="/css/viewJobPostings.css" rel="stylesheet" type="text/css">
</head>

<body>
<header>
    <div class="container">
        <h1>Jobify</h1>
        <nav>
            <ul>
                <li><a th:href="@{/student}">Home</a></li>
                <li><a th:href="@{/student/profile}">Profile</a></li>
                <li><a th:href="@{/student/{status}(status='applications')}">Applications</a></li>
                <li><a th:href="@{/student/{status}(status='interviews')}">Interviews</a></li>
                <li><a th:href="@{/{accountType}/feedback(accountType='student')}">About</a></li>
            </ul>
        </nav>
    </div>
</header>

<section id="search">
    <div class="container">
        <h2>Find your dream job today</h2>
        <form method="post" th:action="@{/student/search-job-postings}">
            <input id="search1" name="search" placeholder="Search by job title" type="text">
            <label for="search1">
                <button type="submit">Search</button>
            </label>
        </form>
    </div>
</section>

<section id="jobs">
    <div class="container">
        <h2>Featured Jobs</h2>
    </div>
</section>

<div class="job-box" th:each="jobPosting : ${jobPostings}">
    <h2><a th:href="@{/student/job-postings/{id}(id=${jobPosting.getId()})}"
           th:text="${jobPosting.getTitle()}"></a></h2>
    <p><strong>Company:</strong> <span th:text="${jobPosting.getCompany()}"></span></p>
    <p><strong>Status:</strong> <span th:text="${jobPosting.getStatus()}"></span></p>
    <p><strong>Location:</strong> <span th:text="${jobPosting.getJobLocation()}"></span></p>
    <p><strong>Salary:</strong> <span th:text="${jobPosting.getSalary()}"></span></p>
    <p><strong>Deadline to apply:</strong> <span th:text="${jobPosting.getDeadline()}"></span></p>
</div>

</body>
</html>