<!DOCTYPE html>
<html lang="en">

<head>
    <title> Profile page </title>
    <link href="/css/EmployerHomePage.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <style media="screen">
    </style>
</head>

<body>

<header>
    <div class="container">
        <h1>Jobify</h1>
        <nav>
            <ul> <!-- Change the pages -->
                <li><a th:href="@{/{email}/admin/profile(email=${email})}">Profile</a></li>
                <li><a th:href="@{/{email}/admin/all-users(email=${email})}">Current Users </a></li>
                <li><a th:href="@{/{email}/admin/feedbacks(email=${email})}">User Feedback</a></li>
                <li><a th:href="@{/{email}/admin/job-postings(email=${email})}">Job Postings</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>

<form method="post" th:action="@{/{email}/admin/profile(email=${email})}">
    <h3 style="color:#f09819;">Welcome </h3>
    <link href="/css/Index.css" rel="stylesheet" type="text/css">
    <div class="form-group">
        <label style="color:black;"><strong>First Name: </strong><span th:text="${adminInformation.getFirstName()}"></span></label>
        <label style="color:black;"><strong>Last Name: </strong><span th:text="${adminInformation.getLastName()}"></span></label>
        <label style="color:black;"><strong>Email: </strong><span th:text="${adminInformation.getEmail()}"></span></label>
        <label style="color:black;"><strong>Role: </strong><span th:text="${adminInformation.getAdminRole()}"></span></label>
        <label><a style="color:blue;" th:href="@{/admin/profile/edit}">Edit Profile Information<br></a></label>
    </div>
</form>
</body>
</html>