<!DOCTYPE html>
<html lang="en">

<head>
    <title> Jobify </title>
    <link href="/css/viewJobPostings.css" rel="stylesheet" type="text/css">
</head>

<body>

<header>
    <div class="container">
        <h1>Jobify</h1>
        <nav>
            <ul> <!-- Change the pages -->
                <li><a th:href="@{/admin/profile}">Profile</a></li>
                <li><a th:href="@{/admin/all-users}">Current Users </a></li>
                <li><a th:href="@{/admin/feedbacks}">User Feedback</a></li>
                <li><a th:href="@{/admin/job-postings}">Job Postings</a></li>
            </ul>
        </nav>
    </div>
</header>

<section id="jobs">
    <div class="container">
        <h2>User Feedback</h2>
    </div>
</section>


<style>
    .job-box {
        border: 1px solid black;
        padding: 10px;
        margin-bottom: 10px;
    }
</style>

<style>
    .job-box {
        border: 1px solid black;
        padding: 10px;
        margin-bottom: 10px;
    }
</style>

<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>

<div class="job-box" th:each="feedback : ${feedbacks}">
    <p><strong>Feedback</strong></p><br/>
    <p><span th:text="${feedback.getSubject()}"></span></p><br/>
    <p><strong>Rating:</strong> <span th:text="${feedback.getRating()}"></span></p>
    <p><strong>Email:</strong> <span th:text="${feedback.getEmail()}"></span></p><br>
</div>

</body>
</html>