<!-- View all the job postings in order to apply for jobs. -->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Jobify</title>
    <link href="/css/viewJobPostings.css" rel="stylesheet" type="text/css">
</head>

<body>

<header>
    <div class="container">
        <h1>Jobify</h1>
        <nav>
            <ul> <!-- Change the pages -->
                <li><a th:href="@{/admin/profile}">Profile</a></li>
                <li><a th:href="@{/admin/all-users}">Current Users </a></li>
                <li><a th:href="@{/admin/feedbacks}">User Feedback</a></li>
                <li><a th:href="@{/admin/job-postings}">Job Postings</a></li>
            </ul>
        </nav>
    </div>
</header>

<section id="jobs">
    <div class="container">
        <h2>Job Posting</h2>
    </div>
</section>

<style>
    .job-box {
        border: 1px solid black;
        padding: 10px;
        margin-bottom: 10px;
    }

    input[type = submit] {
        background-color: #333;
        border: none;
        text-decoration: none;
        color: #fff;;
        padding: 10px 20px;
        margin: 20px 20px;
        cursor: pointer;
    }
</style>

<div class="job-box">
    <h2><span th:text="${jobPosting.getTitle()}"></span></h2>
    <p><strong>Employer:</strong> <span th:text="${employer.getFirstName()} + ' ' + ${employer.getLastName()}"></span>
    </p>
    <p><strong>Company:</strong> <span th:text="${jobPosting.getCompany()}"></span></p>
    <p><strong>Status:</strong> <span th:text="${jobPosting.getStatus()}"></span></p>
    <p><strong>Location:</strong> <span th:text="${jobPosting.getJobLocation()}"></span></p>
    <p><strong>Salary:</strong> <span th:text="${jobPosting.getSalary()}"></span></p>
    <p><strong>Deadline to apply:</strong> <span th:text="${jobPosting.getDeadline()}"></span></p>
    <p><span th:text="${jobPosting.getDescription()}"></span></p><br>
    <form method="get"
          th:action="@{/admin/job-postings/{id}/edit(id=${jobPosting.getId()})}">
        <input type="submit" value="Edit Job Posting">
    </form>
    <form method="post"
          th:action="@{/admin/job-postings/{id}/delete(id=${jobPosting.getId()})}">
        <input type="submit" value="Remove Job Posting">
    </form>
</div>
</body>
</html>