<!DOCTYPE html>
<html lang="en">

<head>
    <title> Profile page </title>
    <link href="/css/EmployerHomePage.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <style media="screen">
    </style>
</head>

<body>
<header>
    <div class="container">
        <h1>Jobify</h1>
        <nav>
            <ul>
                <li><a th:href="@{/employer}">Home</a></li>
                <li><a th:href="@{/employer/profile}">Profile</a></li>
                <li><a th:href="@{/employer/add-job-posting}">Add Jobs </a></li>
                <li><a th:href="@{/employer/interview}">Interviews</a></li>
                <li><a th:href="@{/{accountType}/feedback(accountType='employer')}">About</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>

<form method="post" th:action="@{/employer/profile}">
    <h3 style="color:#f09819;">Welcome </h3>
    <link href="/css/Index.css" rel="stylesheet" type="text/css">
    <div class="form-group">
        <label style="color:black;"><strong>First Name: </strong><span
                th:text="${employerInformation.getFirstName()}"></span></label>
        <label style="color:black;"><strong>Last Name: </strong><span
                th:text="${employerInformation.getLastName()}"></span></label>
        <label style="color:black;"><strong>Email: </strong><span
                th:text="${employerInformation.getEmail()}"></span></label>
        <label style="color:black;"><strong>Company: </strong><span
                th:text="${employerInformation.getCompany()}"></span></label>
        <button><a style="color:white;" th:href="@{/employer/profile/edit}">Edit Profile Information<br></a></button>
        <button><a style="color:white;" th:href="@{/employer/profile/change-password}">Change Password<br></a></button>
        <button><a style="color:white;" th:href="@{/delete}">Delete Account<br></a></button>
    </div>
</form>
</body>
</html>