<!DOCTYPE html>
<html lang="en">

<head>
    <title> Job Posting </title>
    <link href="/css/viewJobPostings.css" rel="stylesheet" type="text/css">
    <link href="/css/StudentHomePage.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <style media="screen">
    </style>
</head>

<body>
<header>
    <div class="container">
        <h1>Jobify</h1>
        <nav>
            <ul>
                <li><a th:href="@{/employer}">Home</a></li>
                <li><a th:href="@{/employer/profile}">Profile</a></li>
                <li><a th:href="@{/employer/add-job-posting}">Add Jobs </a></li>
                <li><a th:href="@{/employer/interview}">Interviews</a></li>
                <li><a th:href="@{/{accountType}/feedback(accountType='employer')}">About</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>

<form>
    <div class="job-box">
        <!-- display information of the job that has been added -->
        <h3><span th:text="${jobPosting.getTitle()}"></span></h3>
        <h3></h3>
        <p><strong>Employer:</strong> <span th:text="${employer.getFirstName()} + ' ' + ${employer.getLastName()}"></span></p>
        <p><strong>Company:</strong> <span th:text="${jobPosting.getCompany()}"></span></p>
        <p><strong>Status:</strong> <span th:text="${jobPosting.getStatus()}"></span></p>
        <p><strong>Location:</strong> <span th:text="${jobPosting.getJobLocation()}"></span></p>
        <p><strong>Salary:</strong> <span th:text="${jobPosting.getSalary()}"></span></p>
        <p><strong>Deadline to apply:</strong> <span th:text="${jobPosting.getDeadline()}"></span></p>
        <p><span th:text="${jobPosting.getDescription()}"></span></p>
    </div>
    <!-- button for View student applications  -->
    <button><a style="color:white;"
               th:href="@{/employer/{id}/applications(id=${jobPosting.getId()})}">View student
        applications<br></a></button>
    <!-- button for editing job posting  -->
    <button><a style="color:white;" th:href="@{/employer/{id}/edit(id=${jobPosting.getId()})}">Edit Job Posting<br></a>
    </button>
    <!-- button for removing job posting  -->
    <button><a style="color:white;"
               th:href="@{/employer/{id}/delete(id=${jobPosting.getId()})}">Remove Job
        Posting<br></a></button>
</form>
</body>
</html>