<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
</head>
<body>
<header>
    <!-- Include the AboutPage.css file for styling -->
    <link rel="stylesheet" type="text/css" href="/css/AboutPage.css">
    <div class="container">
        <h1>Jobify</h1>
        <nav>
            <ul>
                <li th:if="${loginInformation.getUserType().equals('student')}"><a th:href="@{/{email}/student(email=${email})}">Home</a></li>
                <li th:if="${loginInformation.getUserType().equals('student')}"><a th:href="@{/{email}/student/profile(email=${email})}">Profile</a></li>
                <li th:if="${loginInformation.getUserType().equals('student')}"><a th:href="@{/{email}/student/{status}(email=${email}, status='applications')}">Applications</a></li>
                <li th:if="${loginInformation.getUserType().equals('student')}"><a th:href="@{/{email}/student/{status}(email=${email}, status='interviews')}">Interviews</a></li>
                <li th:if="${loginInformation.getUserType().equals('student')}"><a th:href="@{/{accountType}/feedback(accountType='student')}">About</a></li>

                <li th:if="${loginInformation.getUserType().equals('employer')}"><a th:href="@{/{email}/employer(email=${email})}">Home</a></li>
                <li th:if="${loginInformation.getUserType().equals('employer')}"><a th:href="@{/{email}/employer/profile(email=${email})}">Profile</a></li>
                <li th:if="${loginInformation.getUserType().equals('employer')}"><a th:href="@{/{email}/employer/add-job-posting(email=${email})}">Add Jobs</a></li>
                <li th:if="${loginInformation.getUserType().equals('employer')}"><a th:href="@{/{email}/employer/interview(email=${email})}">Interviews</a></li>
                <li th:if="${loginInformation.getUserType().equals('employer')}"><a th:href="@{/{accountType}/feedback(accountType='employer')}">About</a></li>

                <li th:unless="${loginInformation.getUserType().equals('student') or loginInformation.getUserType().equals('employer')}"><a href="index.jsp">Home</a></li>
                <li th:unless="${loginInformation.getUserType().equals('student') or loginInformation.getUserType().equals('employer')}"><a href="login.jsp">Login</a></li>
                <li th:unless="${loginInformation.getUserType().equals('student') or loginInformation.getUserType().equals('employer')}"><a href="register.jsp">Register</a></li>
                <li th:unless="${loginInformation.getUserType().equals('student') or loginInformation.getUserType().equals('employer')}"><a th:href="@{'AboutPage.jsp'}">About</a></li>
            </ul>
        </nav>
    </div>
</header>

</body>

<!-- add the white screen in the middle that will have all the information for the about page as feedback and the star	rating  -->
<head>
    <title>About us</title>
    <link rel="stylesheet" type="text/css" href="/css/EmployerHomePage.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <style media="screen">

    </style>


</head>


<body>
<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>

<form th:action="@{/{email}/{userType}/feedback(email=${email}, userType=${loginInformation.getUserType()})}" method="post" enctype="multipart/form-data">
    <h3 style="color:#f09819;">About </h3>
    <link rel="stylesheet" type="text/css" href="/css/AboutPage.css">


    <div class="form-group">

        <!-- add the text area to let the user enter their feedback -->

        <label for="subject"> <h2> Feedback </h2></label>
        <textarea id="subject" name="subject" placeholder="Write your feedback" style="height:200px"></textarea>


        <!-- add 5 starts for rating -->
        <div class="rate">
            <h2> Star Rating </h2>
            <input type="radio" id="star5" name="rate" value="5"/>
            <label for="star5" title="text">5 stars</label>
            <input type="radio" id="star4" name="rate" value="4"/>
            <label for="star4" title="text">4 stars</label>
            <input type="radio" id="star3" name="rate" value="3"/>
            <label for="star3" title="text">3 stars</label>
            <input type="radio" id="star2" name="rate" value="2"/>
            <label for="star2" title="text">2 stars</label>
            <input type="radio" id="star1" name="rate" value="1"/>
            <label for="star1" title="text">1 star</label>

            <div class="form-group">
                <button type="submit" class="submit-btn">Submit</button>
            </div>

        </div>
</form>
</body>
</html>

