<!DOCTYPE html>
<html lang="en">
<head>
    <title> Profile page </title>
    <link rel="stylesheet" type="text/css" href="/css/EmployerHomePage.css">
</head>
<body>

<header>
    <div class="container">
        <h1>Jobify</h1>
        <nav>
            <ul> <!-- Change the pages -->
                <li><a th:href="@{/{email}/admin/profile(email=${email})}">Profile</a></li>
                <li><a th:href="@{/{email}/admin/all-users(email=${email})}">Current Users </a></li>
                <li><a th:href="@{/{email}/admin/feedbacks(email=${email})}">User Feedback</a></li>
                <li><a href="viewJobPostingsAdminServlet">Job Postings</a></li>
            </ul>
        </nav>
    </div>
</header>

<head>
    <title> Profile page </title>
    <!-- add the white screen in the middle  -->
    <link rel="stylesheet" type="text/css" href="/css/EmployerHomePage.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <style media="screen">

    </style>


</head>


<body>

<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form th:action="@{/{email}/admin/profile(email=${email})}" method="post">

    <h3 style="color:#f09819;">Welcome </h3>
    <link rel="stylesheet" type="text/css" href="/css/Index.css">

    <div class="form-group">

        <label style="color:black;">First Name: <span th:text="${adminInformation.getFirstName()}"></span></label>
        <label style="color:black;">Last Name: <span th:text="${adminInformation.getLastName()}"></span></label>
        <label style="color:black;">Email: <span th:text="${adminInformation.getEmail()}"></span></label>
        <label style="color:black;">Role: <span th:text="${adminInformation.getAdminRole()}"></span></label>
        <label><a style="color:blue;" th:href="@{/admin/profile/edit}">Edit Profile Information<br></a></label>
    </div>
</form>
</body>
</html>
