<!DOCTYPE html>
<html lang="en">
<head>
  <title> Job Postings </title>
  <link rel="stylesheet" type="text/css" href="/css/EmployerHomePage.css">
</head>
<body>
<header>
  <div class="container">
    <h1>Jobify</h1>
    <nav>
      <ul>
        <li><a th:href="@{/{email}/employer(email=${email})}">Home</a></li>
        <li><a th:href="@{/{email}/employer/profile(email=${email})}">Profile</a></li>
        <li><a th:href="@{/{email}/employer/add-job-posting(email=${email})}">Add Jobs </a></li>
        <li><a th:href="@{/{email}/employer/interview(email=${email})}">Interviews</a></li>
        <li><a href="AboutPage.jsp?account=employer">About</a></li>
      </ul>
    </nav>
  </div>
</header>

<head>
  <title> Job Postings </title>
  <link rel="stylesheet" type="text/css" href="/css/EmployerHomePage.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
  <!--Stylesheet-->
  <style media="screen">

  </style>


</head>
<body>
<div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
</div>
<form th:action="@{/{email}/employer}" method="get">

  <h3 style="color:#f09819;">Job Postings </h3>
  <link rel="stylesheet" type="text/css" href="/css/Index.css">

  <table>
    <tbody>
    <th:block th:each="jobPosting : ${jobPostings}">
      <tr>
        <td>
          <label>
            <a th:href="@{/{email}/employer/job-postings/{id}(email=${email}, id=${jobPosting.getId()})}" th:text="${jobPosting.title}"></a>
          </label>
        </td>
      </tr>
    </th:block>
    </tbody>
  </table>
</form>
</body>
</html>

















