<!DOCTYPE html>
<html lang="en">
<head>
    <title> Jobify </title>
    <link rel="stylesheet" type="text/css" href="/css/viewJobPostings.css">
</head>
<body>
<header>
    <div class="container">
        <h1>Jobify</h1>
        <nav>
            <ul> <!-- Change the pages -->
                <li><a href="viewAdminProfileServlet">Profile</a></li>
                <li><a href="viewCurrentUsersServlet">Current Users </a></li>
                <li><a th:href="@{/{email}/admin/feedbacks(email=${email})}">User Feedback</a></li>
                <li><a href="viewJobPostingsAdminServlet">Job Postings</a></li>
            </ul>
        </nav>
    </div>
</header>

<section id="jobs">
    <div class="container">
        <h2>User Feedback</h2>
    </div>
</section>


<style>
    .job-box {
        border: 1px solid black;
        padding: 10px;
        margin-bottom: 10px;
    }
</style>


</head>
<body>
<style>
    .job-box {
        border: 1px solid black;
        padding: 10px;
        margin-bottom: 10px;
    }
</style>
<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>

<div class="job-box" th:each="feedback : ${feedbacks}">
    <p><strong>Feedback</strong></p><br/>
    <p><span th:text="${feedback.getSubject()}"></span></p><br/>
    <p><strong>Rating:</strong> <span th:text="${feedback.getRating()}"></span></p>
    <p><strong>Email:</strong> <span th:text="${feedback.getEmail()}"></span></p><br>
</div>

</body>
</html>