<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login page</title>
    <link href="/css/Index.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <style media="screen">
    </style>
</head>
<!--background design colors and size -->
<body>
<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form method="post" th:action="@{/login}">
    <h3 style="color: black;">Login</h3>
    <div class="container">
        <br/>
        <!--  post method for adding the email, password & functional login button -->
        <form method="post" th:action="@{/login}">
            <table>
                <tr>
                    <div class="form-group">
                        <td><label for="email">Email:</label></td>
                        <td><input id="email" name="email"/></td>
                    </div>
                </tr>
                <tr>
                    <div class="form-group">
                        <td><label for="password">Password:</label></td>
                        <td><input id="password" name="password" type="password"/></td>
                    </div>
                </tr>
                <td>
                    <button class="submit-btn" type="submit">Login</button>
                </td>
            </table>
        </form>
    </div>
</form>
</body>
</html>